[submodule "surge-examples"]
	path = surge-examples
	url = https://github.com/mandli/surge-examples
[submodule "multilayer-examples"]
	path = multilayer-examples
	url = https://github.com/mandli/multilayer-examples
[submodule "tsunami-examples"]
	path = tsunami-examples
	url = https://github.com/clawpack/tsunami-examples
